language: php

php:
  7.4

install:
  - composer install
  - composer dump -o
  - composer require phpunit/phpunit

cache:
  directories:
  - vendor

script:
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - composer require php-coveralls/php-coveralls
  - travis_retry php vendor/bin/php-coveralls